/* pc */
@media (min-width:64em){

}

/* tablet */
@media (min-width:46.25em) and (max-width:63.9375em){
    
}

/* mobile */
@media (max-width:46.1875em){
    .s-full-width{
        width: 100%;
    }
    .s-col-full{
        width: 100%;
    }
    .mobile{
        display: block;
    }
    #nav{
        display: block;
    }
    #nav>li{
        display: block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }
    #header{
        overflow: hidden;
    }
    
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn {
        display: none;
    }
    #content .member-mobile{
        margin-top: 30px;
        width: 100%;
    }
    #content .member-img {
        width: 60%;
        
    }
    .contact-form {
        margin-top: 32px;
    }
    .s-mt-8{
        margin-top: 8px;
    }
}
/* tablet & mobile */
@media (max-width:63.9375em){
    .places-buy-btn{
        padding: 15px 16px;
    }
    .contact-form .form-control{
        padding: 15px;
    }
    #footer .socials-list {
        font-size: 32px;
    }
    #footer .socials-list a{
        margin: 0 8px;
    }
    .contact-info{
        line-height: 2;
    }
}